// fonts
$font-main: 'Orbitron', sans-serif;
$font-buttons: 'Open Sans', sans-serif;

//colors
$color-table: #696b6d;
$color-display-bg: #85968e;
$black: #000;
$white: #fff;

//radius
$border-radius: 5px;